body {
    --color-background: aliceblue;
    --color-foreground: black;
}

body.dark-theme {
    --color-background: #1f1f1f;
    --color-foreground: #e5e5e5;
}

body.dark-theme img {
    filter: brightness(90%);
}

body.dark-theme a:not(:visited) {
    color: dodgerblue;
}

body.dark-theme a:visited {
    color: mediumpurple;
}

body {
    font-family: sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
    direction: rtl;
    font-size: 1em;
    margin: 0;
    overflow-x: hidden;
}

#header-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

#header-left, #header-right {
    flex: 1;
    margin: 12px;
}

#header-left {
    text-align: left;
}

#header-right {
    text-align: right;
    font-size: 12px;
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    gap: 6px;
}

header {
    text-align: center;
}

.unit_tag {
    width: 200px;
    text-align: center;
}

footer {
    text-align: center;
    font-size: calc(1rem - 0.3vw);
    margin-bottom: 4px;
}

@media (max-width: 960px) {
    footer {
        font-size: calc(1rem - 1vw);
    }

    .unit_tag {
        width: 160px;
    }
}

.unit_tag_img {
    max-width: 100%;
}

#dotzlink:not(:hover) {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none;
}

.start-hidden {
    display: none
}