<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    {% block head %}
    {% endblock %}
</head>
<body>
<header>
    <div id="header-container">
        <div id="header-right"><input type="checkbox" id="toggle-dark"><label for="toggle-dark">מצב<br>לילה</label></div>
        <div id="header-title">{% block header %}{% endblock %}</div>
        <div id="header-left">{% block header_left %}{% endblock %}</div>
    </div>
</div>
</header>
<main>
    {% block main %} {% endblock %}
</main>
<footer>
    באתר זה נעשה שימוש בסמלי ותגי יחידה בבעלות <a href="{{ url_for('units_dir', tag_path='sections/operations/spokesperson') }}" id="dotzlink">דובר צה"ל</a> ללא כל שינוי.
    {% block footer %}{% endblock %}
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='dark.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>