{% extends 'base.html' %}

{% block title %}Tzahle Quiz{% endblock %}

{% block head %}
<style>
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px
}

.guess-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
</style>
{% endblock %}

{% block header %}
<h1>חידון צה"ל</h1>
{% endblock %}

{% block main %}
<div class="unit_tag">
    <img class="unit_tag_img" src="{{ c.get_full_image_path(tag) }}">
</div>
<form id="form-guess" autocomplete="off">
    <input id="input-guess" type="search" value="" required>
</form>
<div id="guess-correct" style="display: none">נחמד!</div>
<div id="guess-answer" style="display: none"></div>
<div id="guess-incorrect" style="display: none">לא...</div>
<div class="guess-control">
    <button id="guess">נחש</button>
    <button id="next">הבא</button>
    <button id="giveup">הצג תשובה</button>
</div>
<div id="score-label">ניקוד: <span id="score-num">{{ session.get('score', default=0) }}</span></div>
{% endblock %}

{% block scripts %}
<script>
    let guessBtn = $("#guess")
    let guessBox = $("#input-guess")
    let correct = $("#guess-correct")
    let incorrect = $("#guess-incorrect")
    let answer = $("#guess-answer")
    let score = $("#score-num")

    let checkGuess = () => {
        $.post({url: "quiz", data: guessBox.val(), contentType: "text/plain", success: (data) => {
            if (data === "incorrect") {
                correct.hide()
                incorrect.show()
                answer.hide()
            } else {
                correct.show()
                incorrect.hide()
                answer.show()
                answer.text(data)
                score.text(parseInt(score.text()) + 1)
            }
        }});
    }
    guessBox.bind("keypress", (event) => {
        if (event.which === 13) {
            event.preventDefault()
            checkGuess()
        }
    })
    guessBtn.on("click", checkGuess)

    $("#next").click(() => {
        location.reload()
    })
</script>
<!--<script src="static/app.js"></script>-->
{% endblock %}