{% extends 'base.html' %}

{% block title %}Tzahle Quiz{% endblock %}

{% block head %}
<style>
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.guess-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
</style>
{% endblock %}

{% block header %}
<h1>חידון צָהֶ"ל</h1>
{% endblock %}

{% block main %}
<div class="unit_tag">
    <a id="unit_tag_link"><img class="unit_tag_img" src="{{ c.get_full_image_path(tag) }}"></a>
</div>
<form id="form-guess" autocomplete="off">
    <input id="input-guess" type="search" value="" required autofocus>
</form>
<div id="guess-message" style="display: none"></div>
<div id="guess-answer" style="display: none"></div>
<div class="guess-control">
    <button id="guess">נחש</button>
    <button id="next">הבא</button>
    <button id="giveup">הצג תשובה</button>
</div>
<div id="score-label">ניקוד: <span id="score-num">{{ session.get('score', default=0) }}</span></div>
{% endblock %}

{% block scripts %}
<script>
    $(() => {
        let guessedSomething = false

        let contentType = "text/plain;charset=UTF-8"

        let guessBtn = $("#guess")
        let guessBox = $("#input-guess")
        let message = $("#guess-message")
        let answer = $("#guess-answer")
        let score = $("#score-num")
        let tagLink = $("#unit_tag_link")
        let giveup = $("#giveup")

        function displayAnswer(resp, disableGuessBtn = true) {
            answer.show()
            answer.text(resp["name"])
            score.text(resp["score"])
            tagLink.prop("href", resp["rel_path"])
            guessBtn.prop("disabled", disableGuessBtn)
        }

        function showMessage(msg) {
            message.show()
            message.text(msg)
        }

        function answerShown() {
            // Use the visibility of the answer div to determine if the player successfully guessed already
            return answer.css("display") !== "none"
        }

        function checkGuess() {
            // Only allow guessing as long as the answer wasn't shown
            if (!answerShown()) {
                $.post({url: "quiz", data: guessBox.val(), contentType: contentType, success: (data) => {
                    // This is the success callback, so 400 errors won't reach this
                    guessedSomething = true
                    if (data === "incorrect") {
                        showMessage("לא...")
                    } else {
                        showMessage("נחמד!")
                        displayAnswer(data)
                    }
                }});
            }
        }
        guessBox.bind("keypress", (event) => {
            if (event.which === 13) {
                event.preventDefault()
                checkGuess()
            }
        })
        guessBtn.on("click", () => {
            checkGuess()
        })

        $("#next").click(() => {
            location.reload()
        })

        function showObjectionBtn() {
            guessBtn.text("הניחוש שלי נכון!")
            guessBtn.unbind('click')
            guessBtn.on("click", () => {
                $.post({
                    url: "/quiz/objection", success: () => {
                        showMessage("הערעור נשלח בהצלחה!")
                    }
                })
            })
        }

        giveup.click(() => {
            // Ponder upon a player guessing correctly, then pressing the show answer button only to have their
            // success nullified. That is definitely not wanted, I can assure you.
            // I mean, the effect is minimal, doing this doesn't cancel out the point earned and is quickly erased
            // when the page is reloaded, but still, it's not a good experience for the player.
            if (!answerShown()) {
                $.post({
                    url: "/quiz", data: "giveup", contentType: contentType, success: (data) => {
                        showMessage("חבל...")
                        displayAnswer(data, !guessedSomething)

                        // If the player gave up AFTER guessing something, let them object to their loss
                        if (guessedSomething) {
                            showObjectionBtn()
                        }
                    }
                })
            }
        })
    })
</script>
<!--<script src="static/app.js"></script>-->
{% endblock %}