{% extends 'base.html' %}

{% block title %}Tzahle Quiz{% endblock %}

{% block head %}
<style>
html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-flow: column;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    flex: 1;
}

#filler {
    flex: 1 1 auto;
    overflow: auto;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: end;
}

.key-row {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.key {
    min-width: 10px;
    text-align: center;
    font-size: 20px;
    padding: 6px 9px;
    margin: 3px;
    border: 1px solid var(--color-foreground);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.key:active {
    background-color: lightskyblue;
}

.space-row {
    align-self: stretch;
}

.space-key {
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 12px;
    font-size: 22px
}

#input-boxes-container {
    display: flex;
    flex-flow: column;
}

.input-box {
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 1px solid whitesmoke;
    background-color: lightgray;
    color: #3a3a3a;
    min-width: 280px;
    max-width: 450px;
    height: 30px;
}

body.dark-theme .input-box {
    border-color: #000000;
    background-color: dimgray;
    color: #dcdcdc;
}

.input-box-content {
    margin: 6px;
    font-size: 24px;
    letter-spacing: -1px;
}

.input-red-highlight {
    color: #730000
}

.input-green-highlight {
    color: #009500;
}

body.dark-theme .input-green-highlight {
    color: #22e622;
}

#success-dialog {
    display: none;
    position: absolute;
    padding: 16px;
    margin: auto;
    z-index: 1;
    flex-flow: column;
    background-color: #e3e3e3;
    border: 1px solid #383838;
}

body.dark-theme #success-dialog {
    background-color: slategray;
    border-color: #1f1f1f;
}
</style>
{% endblock %}

{% block header %}
<h1>צָהֶ"ל</h1>
{% endblock %}

{% block main %}
<div id="success-dialog">
    <h1>כל הכבוד!</h1>
    <div id="success-dialog-controls">
        <button class="success-control" id="control-copy-result">העתק תוצאה</button>
    </div>
</div>
<div class="unit_tag">
    <a id="unit_tag_link"><img class="unit_tag_img" id="unit_tag_img"></a>
</div>
<form id="form-guess" autocomplete="off" class="start-hidden">
    <input id="input-guess" type="search" value="" disabled required autofocus>
</form>
<div id="input-boxes-container">
    {% for i in range(6) %}
        <div class="input-box" id="input-box-{{ i }}">
            <span class="input-box-content"></span>
        </div>
    {% endfor %}
</div>
<div id="filler"></div>
<div id="keyboard">
    <div class="key-row">
        <div class="key">0</div>
        <div class="key">9</div>
        <div class="key">8</div>
        <div class="key">7</div>
        <div class="key">6</div>
        <div class="key">5</div>
        <div class="key">4</div>
        <div class="key">3</div>
        <div class="key">2</div>
        <div class="key">1</div>
    </div>
    <div class="key-row">
        <div class="key backspace-key">→</div>
        <div class="key">פ</div>
        <div class="key">ם</div>
        <div class="key">ן</div>
        <div class="key">ו</div>
        <div class="key">ט</div>
        <div class="key">א</div>
        <div class="key">ר</div>
        <div class="key">ק</div>
        <div class="key">"</div>
    </div>
    <div class="key-row">
        <div class="key">ף</div>
        <div class="key">ך</div>
        <div class="key">ל</div>
        <div class="key">ח</div>
        <div class="key">י</div>
        <div class="key">ע</div>
        <div class="key">כ</div>
        <div class="key">ג</div>
        <div class="key">ד</div>
        <div class="key">ש</div>
    </div>
    <div class="key-row">
        <div class="key">ץ</div>
        <div class="key">ת</div>
        <div class="key">צ</div>
        <div class="key">מ</div>
        <div class="key">נ</div>
        <div class="key">ה</div>
        <div class="key">ב</div>
        <div class="key">ס</div>
        <div class="key">ז</div>
        <div class="key submit-key" id="guess">שלח</div>
    </div>
    <div class="key-row space-row">
        <div class="key space-key" data-append=" ">␣</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='tzahle.js') }}"></script>
{% endblock %}